{
  "type" : "ParScale",
  "runs" : [
    {
      "name" :          "verificationRun",
      "input_script" :  "in.parscale",
      "type" :          "ParScale/serial",
      "pre_scripts" :   ["prerun_verificationRun.sh"],
      "post_scripts" :  ["postrun_verificationRun.sh"],
      "data" : {
          "textfiles" : ["speciesA.vol_avg","speciesSolid.vol_avg"]
      }
    }
  ]
}
